body{
    background-color: white;
    position: relative;
    min-height: 100vh;
    padding-bottom: 250px;
}

.navbar-dark .navbar-nav .nav-link.acive,
.navbar-dark .navbar-nav .nav-link:hover
{
    color: rgb(205, 219, 8);
}
.carousel-item img
{
    height:80vh;
 
}
.carousel-caption
{
    position: absolute;
    top: 42%;
    text-transform: uppercase;
}

.carousel-caption h1{
    text-shadow: .1rem .1rem .8rem black;
}
.btn-lg{
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.lib{

    position: relative;
    margin-top: -50px;
    padding-bottom: 0;
    color: rgb(0, 0, 0);
}
.desc{

    background-color: rgb(235, 235, 235);
    margin-bottom: 2rem;
    padding : 1rem 2rem 1rem 2rem;

}
.image1 img{
    filter: brightness(65%);
}

.footer-menu{
    list-style: none;
    margin: 15px 0;
    padding: 0;
}



.footer-div{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(216, 221, 226);
}

.footer-copyright{
    background-color: rgb(74, 78, 93);
    
}
.footer-copyright p{
    font-size: small;
    color: white;
    
}
.footer-column
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.follow{
    list-style: none;
    margin: 15px 0;
    padding: 0;
}
.follow a{
    text-decoration: none;
    display: inline-block;
    margin-right: 1.5rem;
    width: 38px;
    height: 32px;
}
.follow li{
    
    display: inline-block;
    
}
.follow li img {
    
    margin-right: 1.5rem;
    
}