<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/signup.css"> 
    <link rel="icon" href="/images/logo2.png">
 
</head>

<body>
  <!-- ****************** NAVBAR ********************* -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="../images/logo2.png" width="30" height="30" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% for(i=0;i<nav.length;i++){%>
          <li class="nav-item active">

            <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].name%></a>
          </li>
          <% } %>
        
      </ul>
    </div>
    </div>
  </nav>


<!-- ****************** SIGNUP FORM ********************* -->

<div class="container-fluid signup">
            <div class="row">
            <div class="col-md-6 offset-md-3">  
              <form id="sign" method="POST" action="/signup/register" onsubmit="return validate()">
              <h1>Sign Up</h1>

              
              <div class="form-group">
                <label for="Name">Name </label>
                <small id="name1" class="text-danger">** required</small>
                <input type="text" class="form-control" id="Name" placeholder="Full Name" name="name">
                
              </div>
              <div class="form-group">
                <label for="UserName">Username</label>
                <small id="usname" class="text-danger">** required</small>
                <input type="text" class="form-control" id="UserName" placeholder="Desired username" name="username">
                
              </div>
              <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <small id="pnum" class="text-danger">** required</small>
                <input type="text" class="form-control" id="phoneNumber" placeholder="Ph No" name="phonenumber">
                
              </div>
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <small id="mail" class="text-danger">** required</small>
                <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email">
                
              </div>
              <div class="form-group">
                <label for="InputPassword1">Password</label>
                <small id="pass1" class="text-danger">** required</small>
                <input type="password" class="form-control" id="InputPassword1" placeholder="password" name="password">
                
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <small id="pass2" class="text-danger">** required</small>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
                
              </div>

           
              <button type="submit" class="btn btn-primary btn-block">Register</button>

              <p class="msg">Already a member? <a href="/login">Login here</a></p>

            </form>
            </div>
            </div>
          </div>


<!-- ****************** FOOTER ********************* -->

          <footer class="footer-div">
            <div class="container">      
              <div class="row">
                  <div class="col-md-3 col-sm-4 col-xs-6 footer-column">
                  <h4>About us</h4>
                  <div class="footer-menu">
                    <p>Since 1891, we have grown from a single reading room in Pioneer Square to a world-class Library system with 27 locations.
                      </p>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 footer-column">
                  <h4>Quick links</h4>
                  <ul class="footer-menu">
                    <li><a href="/signup">Sign up</a></li>
                    <li><a href="/login">Login</a></li>
                  </ul>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6 footer-column">
                  <h4>Contact us</h4>         
                  <div class="footer-menu">
                  <p><i class="fas fa-home mr-3"></i> H-213, Tvm, Kerala</p>
                    <p><i class="fas fa-envelope mr-3"></i> lib@gmail.com</p>
                    <p> <i class="fas fa-phone mr-3"></i> +91 9562345545</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6 footer-column ">
                  <h4>Follow us</h4>    
                  <ul class="follow">
             <li><a  href="http://www.facebook.com" target="_blank">
                <img src="../images/fb.png" width="40" height="40">
              </a></li> 
             
              <li>  <a  href="http://www.twitter.com" target="_blank">
                <img src="../images/twitter.png" width="40" height="40">
              </a></li> 
      
              <li>   <a  href="http://www.instagram.com" target="_blank">
                <img src="../images/insta.png" width="40" height="40">
              </a></li> 
            </ul>         
                </div>              
              </div>
            </div>

          <div class="footer-copyright text-center py-1">
          <p> Copyright © ICTAK</p>
          </div>
          </footer>


          <script src="/js/signup.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>
</html>